
@{
    ViewBag.Title = "DEPARTMENTS";
}

<h2>::::::  Departments  :::::: </h2>

<ul>

    @foreach(string strDEPRT in ViewBag.departments)
            {
            <li> @strDEPRT </li>
            }
</ul>



